## Mengenal Explode dan Implode

In [3]:
import pandas as pd 

print(pd.__version__)

1.2.4

In [5]:
d={'Team':['DC','Marvel'],
  'Heroes':[['Batman','Supermen','Wonder Woman','Aquamen','Green Lantern'],
           ['Iron Men','Captain america','Antman','Black Panther']]}

df=pd.DataFrame(d)
df

     Team                                             Heroes
0      DC  [Batman, Supermen, Wonder Woman, Aquamen, Gree...
1  Marvel  [Iron Men, Captain america, Antman, Black Pant...

## Explode

In [6]:
df1=df.explode('Heroes')
df1

     Team           Heroes
0      DC           Batman
0      DC         Supermen
0      DC     Wonder Woman
0      DC          Aquamen
0      DC    Green Lantern
1  Marvel         Iron Men
1  Marvel  Captain america
1  Marvel           Antman
1  Marvel    Black Panther

## Implode

In [7]:
d={'Team':['DC','Marvel']}
df2=pd.DataFrame(d)
df2

     Team
0      DC
1  Marvel

In [8]:
df2['Imploded'] =df1.groupby(df1.index)['Heroes'].agg(list)
df2

     Team                                           Imploded
0      DC  [Batman, Supermen, Wonder Woman, Aquamen, Gree...
1  Marvel  [Iron Men, Captain america, Antman, Black Pant...