## Akses nilai Variable dalam fungsi query

### Import module

In [2]:
import pandas as pd
import numpy as np

print (pd.__version__)
print (np.__version__)

1.2.4
1.20.1

In [5]:
n_rows=5
n_cols=5
cols=tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),
               columns =cols)

df

    A   B   C   D   E
0   7   7   2  19  19
1  16  11  13   3  12
2  12   4   2  19  17
3  19   9  10   8  19
4   4  12  18  17  11

In [6]:
df.query('A>5')

    A   B   C   D   E
0   7   7   2  19  19
1  16  11  13   3  12
2  12   4   2  19  17
3  19   9  10   8  19

In [7]:
rerata=df['A'].mean()
rerata

11.6

In [8]:
df.query ('A>@rerata')

    A   B   C   D   E
1  16  11  13   3  12
2  12   4   2  19  17
3  19   9  10   8  19