## Kolom Mixed Data Type

### Import Module

In [1]:
import pandas as pd


print(pd.__version__)

1.2.4

 ### Persiapan Data Frane

In [2]:
d={'nama':['bejo','tejo','wati','tiwi','cecep'],
  'ipk':[2,'3',3,2.75,'3.25']}
df=pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

### Deteksi dan penanganan kolom bedasarkan tipe data Beragam

In [3]:
df.dtypes

nama    object
ipk     object
dtype: object

In [4]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [5]:
df['ipk'].apply(type).value_counts()

<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: ipk, dtype: int64

In [6]:
df['ipk']=df['ipk'].astype(float)

In [7]:
df['ipk'].apply(type).value_counts()

<class 'float'>    5
Name: ipk, dtype: int64