### Mengimport Modul

In [8]:
import pandas as pd
import numpy as np

print (pd.__version__)
print(np.__version__)

1.2.4
1.20.1

### Mempersiapkan data Frame

In [9]:
n_rows=5
n_cols=5
cols=tuple('ABCDE')

df= pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)
                    
df

   A  B  C  D  E
0  3  7  2  5  3
1  9  5  7  9  2
2  5  8  2  9  6
3  9  7  9  6  6
4  1  7  4  8  1

## Membalik Urutan Kolom

In [10]:
df.loc[:, ::-1] 
#: = Bagian Pertama bertugas untuk mengatur baris 
#::= bagian kedua berfungsi untuk mengatur kolom

   E  D  C  B  A
0  3  5  2  7  3
1  2  9  7  5  9
2  6  9  2  8  5
3  6  6  9  7  9
4  1  8  4  7  1

### Membalik Urutan Baris

In [11]:
df.loc[::-1]

   A  B  C  D  E
4  1  7  4  8  1
3  9  7  9  6  6
2  5  8  2  9  6
1  9  5  7  9  2
0  3  7  2  5  3

### Membalik urutan baris dan melakukan penyesuaian ulang index

In [12]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  1  7  4  8  1
1  9  7  9  6  6
2  5  8  2  9  6
3  9  5  7  9  2
4  3  7  2  5  3