### Membentuk Dummy Data Frame

### Import Modul

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

### Membentuk Data Frame

In [2]:
pd.DataFrame({'col1':[1,2,3,4],
             'col2':[5,6,7,8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

## Membentuk data frame dari numpy Array

In [3]:
n_rows=5
n_cols=3
arr=np.random.randint(1,20,size=(n_rows,n_cols))#Menghasilkan Numpy Array untuk membentuk suatu data Frame
arr

array([[18,  5,  9],
       [10,  2, 14],
       [11,  4, 16],
       [ 7, 11, 19],
       [11, 13, 16]])

In [4]:
pd.DataFrame(arr,columns=tuple('ABC')) #Aray berubah menjadi Data Frame

    A   B   C
0  18   5   9
1  10   2  14
2  11   4  16
3   7  11  19
4  11  13  16

### Membentuk Data Frame dengan pandas.util.testing

In [5]:
pd.util.testing.makeDataFrame().head()

E:\Anaconda\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
fp5X7hMnX9 -1.228669  1.092523 -1.374157  0.659614
3f6Qpi35Og -0.418898 -1.086569  1.036165  0.126316
yCklKlsX5S -1.183766  1.567426  0.276307  0.657756
CVKF0v8iyJ -0.664634 -0.754150 -0.070407  0.452153
FOux2zKTGO -0.922206 -0.384145 -0.383886  0.293924

In [6]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [7]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03  0.320047 -0.629438  0.024906  1.336077
2000-01-04  0.266356  0.255610  0.090520  2.096818
2000-01-05 -0.379930  1.336563  0.593714  0.601467
2000-01-06  0.275876 -0.639880  1.429910  0.359431
2000-01-07  0.366172 -0.964074  0.870262 -0.036450

In [9]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
JZnyG14GHS  0.845272 -0.237349  0.137767 -0.526428
ma8km8wUVN  0.176907 -1.233795 -1.075129 -0.529914
igN45m0Ttp       NaN -0.376981       NaN -0.238518
vPWEgrkDNU  0.578349 -0.922154  0.339014 -0.175532
ybAi7fr4I4 -0.205224 -0.642544  0.656938  1.081988