## Membentuk Data Frame dari hasil Seleksi Spreadsheet

In [1]:
import pandas as pd 

print(pd.__version__)

1.2.4

In [3]:
df =pd.read_clipboard()# Menggunakan Copy data spread sheet  Ctrl C

df

      Nim   Nama
0  7218123  Tejo
1  7218162  Bejo
2  7218462   Adi